strong {
    font-size: 60px !important;
}
#player1 {
    background-color: lightblue;
    opacity: .6;
    width: 80% !important;
    height: 200px;
    border: lightblue;
    border-style: solid;
    border-width: 5px;
}
#scoreBox {
    background-color: lightblue;
    opacity: .6;
    width: 80% !important;
    height: 200px;
    border: 3px lightblue;
    border-style: solid;
    border-width: 5px;
}
#player2 {
    background-color: lightblue;
    opacity: .6;
    width: 80% !important;
    height: 200px;
    border: 3px lightblue;
    border-style: solid;
    border-width: 5px;
}
#textArea {
    width: 80% !important;
}
#textArea {
    margin-top: 30px;
    height: 200px;
    background-color: lightblue;
    opacity: .6;
    border: black;
    border-style: solid;
    border-width: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
#turn {
    font-size: 25px !important;
}
#chatting {
    line-height: 1;
}
#signInPage {
    margin-top: 10%;

}
#signUpModal {
    display: none;
}
#signInModal {
    display: none;
}
#signUpForm{
    display: inline-block;
}
#signUpForm {
    display: inline;
}
#logoutBtn {
    float: right;
}
body {
    background-image: url(../images/background.jpg)
}
.jumbotron {
    background: none !important;
    color: lightblue;
}